

.login-container{
    margin-top: 4rem;
    margin-right: 2rem;
    padding: 1rem;
    width: 30%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10%;
}

.main-container{
    display: grid;
    justify-items: center;
}