.poke-collection {
    margin-top: 8px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .poke-card{
    margin: 2rem !important;
    width: 11rem !important;
    z-index: 50 !important;
    height: fit-content;
    background-color: azure !important;
  }

  .make-button{
    margin-top: 10px;
  }

  .loader{
    position: relative;
    left: 5%;
    margin-top: 5%;
    height: fit-content;
  }

  .create-team-page-bot{
    /* position: sticky; */
    margin-top: 1rem;
    height: 71vh;
    overflow-y: scroll;
    top: 15%;
    /* background-color: #e6e6e6; */
  }
  
  .to-right{
    float: right;
    width: 60%;
  }
  
  .create-team-page-top{
    /* position: -webkit-sticky;
    position: sticky; */
    top: 9%;
    z-index: 100;
    opacity: 97%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .filter-column{
    padding-left: 1rem;
    position: sticky;
    top: 0%;
    z-index: 150;
    float: left;
    width: 220px;
    margin-right: 0 !important;
  }
  
 
  
  .ui.grid > .row.selected-poke-team-row {
    flex-wrap: nowrap;
    min-height: 100%;
    text-align: center;
    padding: 0;
  }
  
  .ui.grid {
    padding: 0px 20px;
  }
  
  .chosen-poke{
    border-radius: 50% !important;
    height: 125px !important;
    width: 125px !important;
    min-width: 125px;
    margin: auto !important;
    color: black;
    border: solid black 2px !important;
  }
  
  .poke-team-container{
    min-height: 100% !important;
    display: block !important;
    margin: 0px !important;
  }

  .selected-poke-team {
    overflow-x: scroll;
    min-height: 150px;
    max-width: 100%;
    background-color: #db0021 !important;
    /* background-color: #990033 !important; */
    /* background-color: #7a0029 !important; */
  }
  
  .selected-poke-img{
    margin-top: 0.5rem;
    width: 50%;
  }
  
  .to-left{
    text-align: left;
  }

  .team-name{
    padding-top: 10px;
    margin-bottom: 0px;
  }

  .team-container {
    display: grid;
    justify-content: center;
}

.image-icon img{
  width: 15%;
}

.icons-container{
  border-top: grey solid 1px;
}

.top-teams{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  max-width: 100%;
  margin-top: 1rem;
}

.team-cards{
  margin: 5px !important;
  min-width: 390px !important;
  height: 90px;
  background-color: azure !important;
}

.the-selected{
  background-color: #cdd8cd !important;
}

.collection-scroll{
  /* overflow: scroll; */
  justify-content: center;
}
