.health-bar
{
    position: relative;
    margin: 2px 6px -2px 2px;
    float: right;
}

.health-bar-glass
{
    position: relative;
    display: inline-block;
    width: 165px;
    height: 13px;
    
    z-index: 10;
    border-radius: 5px;
    border: 2px solid #000000;
    box-shadow: inset 0 0 0 2px #dbd75d;
}

.health-bar-fluid {
    background: #63ff62;
    height: 100%;
    border-radius: inherit;
    transition: width .4s ease-in;
    box-shadow: inset 0 3px 0 -1px #d3aa9a, 
    inset 0 -4px 0 -2px #4d494d, 
    inset 4px 0 0 -2px #4d494d, 
    inset -4px 0 0 -2px #4d494d;
}

.anim-width
{
    -webkit-animation:  anim50to100 2s infinite;
    animation: anim50to100 2s infinite;
}

@-webkit-keyframes anim50to100 {
    0%   { width: 100%; }
    50%  { width: 50%; }
    100% { width: 100%; }
}
@keyframes anim50to100 {
    0%   { width: 100%; }
    50%  { width: 50%; }
    100% { width: 100%; }
}


html,
body
{
	padding: 0;
	margin: 0;
}
html
{
	width: 100%;
	height: 100%;

	box-sizing: border-box;
}
body
{
	min-width: 100%;
	min-height: 100%;
}

*,
*:before,
*:after 
{
	box-sizing: inherit;
}

