.head-image{
    width: 100%;
    text-align: center;
  }
  
  .user-links{
    width: 33%;
    float: left;
    font-size: 1rem;
  }
  
  .left{
    float: left;
  }
  
  .right{
    float: right;
  }
  
  .user-link{
    font-family: 'verdana';
    color: black;
    margin-left: 5%;
  }
  
  .user-link:hover{
    color: #4183c4;
  }
  
  .navbar{
    padding-top: 1%;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 6%;
    overflow: hidden;
    background-color: azure;
  }


  @media only screen and (max-width: 970px) {
    .user-link{
      font-family: 'verdana';
      color: black;
      margin-left: 5%;
      font-size: x-small;
    }
  }