
.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.moves-container{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    max-height: 73vh;
    overflow-y: scroll;
    min-width: 25%;
    border: black 0.5px dotted;
    border-radius: 5px;
}

.moves-container::-webkit-scrollbar{
width: 0;
height: 0;
background: rgb(255,255,255);
}

.pokes-container{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    max-width: 490px;
    flex-wrap: wrap;
    max-height: 82.5vh;
    overflow-y: scroll;
}

.chart-container{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    width: 300px;
    max-width: 450px;
    justify-content: center;
}

.poke-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.moves-show{
    min-width: 25%;
}

.pokemon-show{
    min-width: 40%;
}

.move-card{
    width: 260px;
}

.poke-card{
    width: 150px !important;
    margin: 5px !important;
}

.poke-types{
    display: grid inline-grid;
    /* text-align: center; */
}

.space{
    margin-left: 2px;
    margin-right: 2px;
}

.dmg-icon{
    width: fit-content;
    margin: 5px;
}

.move-desc{
    width: fit-content;
}

.type-chart{
    display: flex;
    flex-direction: column;
    /* width: 160px; */
}

.power-types{
    display: grid;
    grid-template-rows: 10% repeat(3, auto);
    height: fit-content;
}

.my-column{
    width: 180px;
    background-color: azure;
    border: black solid 1px;
    border-radius: 10px;
    margin: 4px;
    /* margin-left: 4px;
    margin-right: 4px; */
    padding-top: 5px;
    padding-bottom: 15px;
    height: fit-content;
}

.power-lvl{
    grid-area: 1 / 1 / span 1 / span 1;
    font-family: Copperplate;
    font-size: 24px;
    width: 50%;
    width: 100%;
}

.mini-column{
    padding-left: 8px;
    padding-right: 8px;
}

.two-times{
    color: #ffffff;
    background: #009900;
}

.half-times{
    color: #ffffff;
    background: #ff0000;
}

.zero-times{
    color: #ffffff;
    background: #000000;
}

.power-atr {
    grid-area: 1 / 2 / span 1/ span 1;
    padding-top: 5px;
}

.description-header p {
    margin: 0;
    padding: 0;
    width: 50%;
}

.description-header :first-child {
    float: left;
}

.description-header :last-child {
    float: right;
}

.type-comparison-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2px 0px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}
