
.to-center{
    text-align: center;
    align-content: center;
    justify-content: center;
    display: grid inline-grid;
    height: fit-content;
    width: fit-content;
    float: left;
}

.spaced{
    display: flex;
    justify-content: center;
}

.aligned{
    margin-left: 3px;
    margin-right: 3px;
}

.type-icon {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #dbdbdb;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    text-transform: uppercase;
    transition: opacity .4s;
}

.large-type-icon {
    margin-top: 2rem;
    display: inline-block;
    width: 88px;
    margin-bottom: 4px;
    background: #dbdbdb;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2);
    color: #fff;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.95rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    text-transform: uppercase;
    transition: opacity .4s;
}

.small-type-icon {
    display: inline-block;
    width: 45px;
    margin-bottom: 4px;
    background: #dbdbdb;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2);
    color: #fff;
    font-size: .5rem;
    font-weight: normal;
    line-height: 1.25rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    text-transform: uppercase;
    transition: opacity .4s;
    margin-left: 1px;
    margin-right: 1px;
}

.abbr{
    width: 20px;
}

.normal {
    background-color: #aa9;
}

.fire {
    background-color: #f42;
}

.water {
    background-color: #39f;
}

.electric {
    background-color: #fc3;
}

.grass {
    background-color: #7c5;
}

.ice {
    background-color: #6cf;
}

.fighting {
    background-color: #b54;
}

.poison {
    background-color: #a59;
}

.ground {
    background-color: #db5;
}

.flying {
    background-color: #89f;
}

.psychic {
    background-color: #f59;
}

.bug {
    background-color: #ab2;
}

.rock {
    background-color: #ba6;
}

.ghost {
    background-color: #66b;
}

.dragon {
    background-color: #76e;
}

.dark {
    background-color: #754;
}

.steel {
    background-color: #aab;
}

.fairy {
    background-color: #e9e;
}

